/* ======================= flex布局 ======================= */
.min-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.min-flex-dir-left {
  flex-direction: row;
}
.min-flex-dir-right {
  flex-direction: row-reverse;
}
.min-flex-dir-top {
  flex-direction: column;
}
.min-flex-dir-bottom {
  flex-direction: column-reverse;
}
.min-flex-main-center {
  justify-content: center;
}
.min-flex-main-start {
  justify-content: flex-start;
}
.min-flex-main-end {
  justify-content: flex-end;
}
.min-flex-main-between {
  justify-content: space-between;
}
.min-flex-main-around {
  justify-content: space-around;
}
.min-flex-wrap-nowrap {
  flex-wrap: nowrap;
}
.min-flex-wrap-wrap {
  flex-wrap: wrap;
}
.min-flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.min-flex-align-center {
  align-items: center;
}
.min-flex-align-top {
  align-items: flex-start;
}
.min-flex-align-bottom {
  align-items: flex-end;
}
.min-flex-align-baseline {
  align-items: baseline;
}
.min-flex-align-stretch {
  align-items: stretch;
}
.min-flex-1 {
  flex: 1
}
.min-flex-2 {
  flex: 2
}
.min-flex-3 {
  flex: 3
}
.min-flex-4 {
  flex: 4
}
.min-flex-5 {
  flex: 5
}
.min-flex-6 {
  flex: 6
}
.min-flex-7 {
  flex: 7
}
.min-flex-8 {
  flex: 8
}
/* ======================= flex布局 ======================= */

/* ======================= 边框线 ======================= */
.min-border,
.min-border-left,
.min-border-right,
.min-border-top,
.min-border-bottom {
  position: relative;
}
.min-border::after
.min-border-left::after,
.min-border-right::after,
.min-border-top::after,
.min-border-bottom::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  transform: scale(.5);
  transform-origin: 0 0;
  pointer-events: none;
  box-sizing: border-box;
  border: 0px solid #d9d9d9;
}
.min-border::after {
  border-width: 1px;
}
.min-border-left::after {
  border-left-width: 1px;
}
.min-border-right::after {
  border-right-width: 1px;
}
.min-border-top::after {
  border-top-width: 1px;
}
.min-border-bottom::after {
  border-bottom-width: 1px;
}
/* ======================= 边框线 ======================= */

/* ======================= 文本省略号 ======================= */
.min-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.min-ellipsis-2 {
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.min-ellipsis-3 {
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.min-ellipsis-4 {
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
/* ======================= 文本省略号 ======================= */
